########################
# JEKYLL               #
########################

/_site
.jekyll-metadata

########################
# IDE                  #
########################

.idea/
.settings/
.project
