########################
# JEKYLL               #
########################

/_site
/.jekyll-metadata
/.sass-cache

########################
# IDE                  #
########################

.idea/
.settings/
.project
