########################
# JEKYLL               #
########################

/_site
/.jekyll-metadata
/.sass-cache

########################
# IDE                  #
########################

.idea/
.settings/
.project
.mvn
*.iml

########################
# master               #
########################

/junit-servers-core
/junit-servers-jetty
/junit-servers-jetty-9
/junit-servers-jetty-10
/junit-servers-jetty-11
/junit-servers-tomcat
/junit-servers-tomcat-8
/junit-servers-tomcat-9
/junit-servers-tomcat-10
/junit-servers-samples
/target
