---
layout: default
---

<div class="row">
  <div class="col-2">
    <ul class="nav flex-column sticky-top sticky-offset">
      <li class="nav-item">
        <a class="nav-link {% if page.url == '/jetty/installation' or page.url == '/jetty' %}active{% endif %}" href="{{ '/jetty/installation' | prepend: site.baseurl }}">Installation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if page.url == '/jetty/jupiter' %}active{% endif %}" href="{{ '/jetty/jupiter' | prepend: site.baseurl }}">JUnit Jupiter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if page.url == '/jetty/junit4' %}active{% endif %}" href="{{ '/jetty/junit4' | prepend: site.baseurl }}">JUnit 4</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if page.url == '/jetty/configuration' %}active{% endif %}" href="{{ '/jetty/configuration' | prepend: site.baseurl }}">Configuration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if page.url == '/jetty/hooks' %}active{% endif %}" href="{{ '/jetty/hooks' | prepend: site.baseurl }}">Hooks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if page.url == '/jetty/upgrade' %}active{% endif %}" href="{{ '/jetty/upgrade' | prepend: site.baseurl }}">Upgrade to 3.0.0</a>
      </li>
    </ul>
  </div>
  <div class="col">
    {{ content }}
  </div>
</div>
